<div id="container">
    <img src="https://cdn.discordapp.com/attachments/689165047817437265/1213158846785392680/Screenshot_58.png?ex=65f47538&is=65e20038&hm=3c500a79a30fda53bc85362e6242dc16670d676ae385d03d62d71454276e8496&/path/to/image.jpg" alt="Logo">
    <div id="links">
        <div class="link" routerLinkActive="active" routerLink="countries & languages">Countries & Languages</div>
        <div class="link" routerLinkActive="active" routerLink="country metrics">Country Metrics</div>
        <div class="link" routerLinkActive="active" routerLink="worldwide metrics">Worldwide Metrics</div>
    </div>
</div>